@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
}
  
body {
  background-image: url(/snowyMountains.png);
  font-family: 'Karla', sans-serif;
}

img {
  border-radius: 10px;
}

.gallery {
  display: grid;
  margin: 100px;
  }

.gallery-item {
  padding: 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  transition: box-shadow .3s;
}

.gallery-item img:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
