@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  margin: 0;
  padding: 0;
}
  
body {
  background-image: url(/snowyMountains.png);
  font-family: 'Karla', sans-serif;
}

img {
  length: 50%;
  width: 50%;
  border-radius: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-item {
    flex-basis: 25%;
    padding: 10px;
  }
  .gallery-item img {
    max-width: 100%;
    height: auto;
  }
